.certificados-container {
    padding: 2rem;
    text-align: center;
  }
  
  .titulo-seccion {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #b0bec5;
  }
  
  .certificados-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 1.5rem;
    
  }
  
  .certificado-card {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.8rem;
    border-radius: 12px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    margin: 0 auto;
  }
  
  .certificado-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .certificado-card h1{
    margin-top: 0.5rem;
    color: #ffffff;
    font-size: 1.1rem;
  }
  .certificado-card h2{
    margin-top: 0.5rem;
    color: #cce7ff;
    font-size: 0.9rem;
  }
  .certificado-card h3{
    margin-top: 0.5rem;
    color: #b0bec5;
    font-size: 0.9rem;
  }

.certificado-card p{
  margin-top: 0.5rem;
  color: #b0bec5;;
  font-size: 0.9rem;
}
  
  .certificado-card a {
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #21e6ec;
    font-weight: bold;
  }
  @media (max-width: 600px) {
    .certificados-container {
      padding: 1rem;
    }
  
    .certificados-grid {
      grid-template-columns: 1fr; 
      gap: 1rem;
    }
  
    .titulo-seccion {
      font-size: 1.5rem;
    }
  
    .certificado-card {
      padding: 0.8rem;
    }
  
    .certificado-card h3 {
      font-size: 1rem;
    }
  
    .certificado-card p {
      font-size: 0.9rem;
    }
  
    .certificado-card a {
      font-size: 0.9rem;
    }
  }
  