.sobre-mi {
    padding: 60px 20px;
    background: linear-gradient(to right, #000c49, #34428a, #0077b6);
    display: flex;
    justify-content: center;

  }
  
  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    gap: 40px;
  }

  .imagen {
    width: 200px;
   }
  
  .texto {
  flex: 1;
  text-align: left;
  color: #dbeafe;
  font-family: 'Arial', sans-serif;

}
  
  .texto h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    
  }

  .texto h3{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    
  }
  
  .texto p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: bold;
    
  }
  .mi-foto{
    border-radius: 50%;
  }
  @media (max-width: 768px) {
    .sobre-mi {
      flex-direction: column;
      align-items: center;
    }
  
    .imagen {
      width: 150px;
    }
  
    .texto {
      text-align: center;
      padding: 0 10px;
    }
  }
  