.sobre-mi {
  background: linear-gradient(to right, #000c49, #34428a, #0077b6);
  padding: 60px 20px;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap; /* para que en pantallas chicas se acomode */
  gap: 40px;
}

.mi-foto {
  width: 200px;
  border-radius: 50%;
}

.texto {
  flex: 1;
  color: #b0bec5;
  font-family: 'Arial', sans-serif;
  min-width: 300px;
}

.texto h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.texto h3 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.texto p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: bold;
  text-align: left;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    text-align: center;
  }

  .mi-foto {
    width: 150px;
  }

  .texto p {
    text-align: center;
    padding: 0 10px;
  }
}