body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:  #29e629;
  background: linear-gradient(to right, #000c49, #34428a, #0077b6);
  
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
 